* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(238, 235, 230);
}
.navbar_container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 100%;
}
.profile_thing{
    display: flex;
    white-space: nowrap;
    background: none;
}
.navbar_container h1{
    background: none;
    color: rgb(0, 0, 0);
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    justify-content: space-between;
    margin-top: 13px;
}
.navbar_container h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    text-align: right;
    margin: 10%;
    background: none;
    color: rgb(0, 0, 0);
}





.card{
    align-items: center;
    place-content: center;
    background-color: none;
    text-align: center;
}
.card_container{
    display: flex;
    text-align: center;
    column-gap: 10px;
}
.city{
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    float: left;
    border-radius: 3%;
}
.words h1{
    font-size: 100px;
    font-weight: 100;
    font-family: 'monaco', monospace;
}
.words{
    width: 10rem;
    float: right;
    object-fit: cover;
}

