body, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*background-color: rgb(238, 235, 230);*/
}

.background_partOne {
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 60rem;
    
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: sticky;
    z-index: 99;
    top: 0; 
    this is used so that the thing is priortized first and follows 
    the user as they scroll down in a website*/
}
.navbar_container {
    margin-top: 50px;
    width: 55%;
    border-radius: 100px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(253, 253, 253, 0.5); 
    /*border-bottom: 1px solid;*/
}
.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 60%;
    border: 2px solid rgba(253, 253, 253, 0.8);
}
.profile_thing{
    display: flex;
    white-space: nowrap;
    /*makes the entire sentence into one line*/
    background: none;
}
.navbar_container h2{
    background: none;
    color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: normal;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    justify-content: space-between;
    margin-top: 13px;
}
.navbar_container button{
    width: 6rem;
    height: 2rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 350px;
    font-size: medium;
    text-align: center;
    margin: 10%;
    background: none;
    color: rgb(255, 255, 255);
    font-size: small;
}


.card{
    margin: auto;
    margin-top: 30px;
}
.card_container{
    display: flex;
    column-gap: 50px;
    margin: auto;
    width: 55%;
    height: 40rem;
    border-radius: 50px;
    background-color: rgba(none, 0.8); 
    backdrop-filter: blur(10px);
    /* blurrs wtv is behind the background */
    overflow: hidden;
    border: 1.5px solid rgba(255, 255, 255, 0.7);
}
.numberAndPic h2{
    z-index: 2;
    color: white;
    position: absolute;
    margin-top: 2rem;
    margin-left: 3rem;
    font-size: 100px;
}
.backgroundimg{
    width: 30rem;
    height: 40rem;
    border-radius: 50px;
    object-fit: cover;
}
.words{
    margin-top: 5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    color: rgb(237, 237, 237);
    margin-left: 2rem;
}
.words h1{
    margin-top: 15px; 
    font-size: 50px;
    font-weight: 1000;
    width: 9rem;
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    font-weight: lighter;
    
}
.words p{
    margin-top: 15px;
    display: flex;
    width: 23rem;
    
    line-height: 20px;
}


.secondpart{
    width: 100%;
    height: 80rem;
    background-color: rgb(33, 33, 33);
}
.second_navbar{
    width: 100%;
    height: 4rem;
    background-color: rgb(33, 33, 33);
    border-bottom: 1px solid;
    border-top: 1px solid;
    position: sticky;
    overflow: hidden;
    z-index: 999;
    top: 0;
}
.second_navbar h2{
    color: white;
    margin-left: 5%;
    margin-top: 11px;
}
.second_navbar h2:hover{
    cursor: default;
}
.second_navbar ul{
    font-size: large;
    color: rgb(255, 255, 255);
    list-style: none;
    display: flex;
    position: absolute;
    right: 20px;
    column-gap: 30px;
    margin: 0;
    align-items: center;
    height: 100%;
}
.second_navbar button{
    background: none;
    color: white;
    border: 1px solid;
    width: 7rem;
    height: 2rem;
    font-size: 14px;
}
.second_navbar button,ul, .text button, .text_container button:hover{
    cursor: pointer;
}
.second_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.second_container p{
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: lighter;
    font-size: 10px;
    letter-spacing: 1px;
    margin-left: 5%;
    padding-bottom: 10px;
}
.second_container h2{
    color: white;
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    font-weight: lighter;
    margin-left: 5%;
    width: 10rem;
    font-size: 3rem;
}
#nature{
    width: 90%;
    object-fit: cover;
    margin: auto;
    height: 50rem;
}
.button_container{
    color: white;
    height: 4rem;
    width: fit-content;
    margin-left: 5%;
    border: 1px solid;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    column-gap: 10rem;
    margin-top: 3rem;
}
.button_container button{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid;
    font-size: 20px;
    align-items: center;
    color: white;
    background: none;
    margin-bottom: 1px;
    margin-right: 25px;
}
#btn{
    text-decoration: none;
    color: white;
}
.text {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.text h3{
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    font-weight: lighter;
    margin-left: 2rem;
}
.bottom_section{
    display: flex;
    column-gap: 8%;
    margin-top: 2rem;
}
.text_container{
    margin-left: 7%;
    margin-top: 0rem;
    width: 61rem;
    height: 11rem;
    border: 1px solid white;
    border-radius: 10px;
}
.text_container h3{
    color: white;
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    font-weight: lighter;
    font-size: medium;
    margin: auto;
    padding: 10px;
}
.thirdpart{
    width: 100%;
    height: 60rem;
    background-color: rgb(33, 33, 33);
    display: flex;
    padding-top: 10rem; 
    
    column-gap: 3rem;
}
.text_part_three{
    width: 8rem;
    
}
.text_part_three h3{
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 3rem;

}

#paris{
    width: 50rem;
    background-size: cover;
    height: 30rem;
    
}










footer{
    width: 100%;
    height: 13rem;
    background-color: black;
    display: flex;
    justify-content: space-around;
}
footer h2, p, ul{
    color: white;
}
footer h2{
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    font-weight: normal;
    font-size: 20px;
    margin-top: 3rem;
}
footer p, ul{
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-weight: lighter;
    font-size: 0.8em;
    line-height: 18px;
    letter-spacing: 1px;
    margin-top: 8px;
}
.about_us{
    width: 20rem;
}
.recent_posts{
    width: 20rem;
}